<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "VisColl", manuscripts_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse container-md" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!-- navbar items go here -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if account_signed_in? %>
          <li class="nav-item">
            <span class="glyphicon glyphicon-log-out"></span>
            <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <span class="glyphicon glyphicon-log-in"></span>
            <%= link_to "Log In", new_account_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <span class="glyphicon glyphicon-user"></span>
            <%= link_to "Sign Up", new_account_registration_path, class: 'btn btn-primary' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
