<div class="container">
  <%= render 'manuscripts/bread_crumbs' %>
  <div class="row">
    <div class="col">
      <h1>Manuscripts</h1>
    </div>
    <div class="col">
      <% if account_signed_in? %>
        <%= link_to 'New Manuscript', new_manuscript_path, class: "btn btn-success float-right" %>
      <% else %>
        <%= link_to 'Log In to Create a New Manuscript', new_account_session_path, class: "btn btn-success float-right" %>
      <% end %>
    </div>
  </div>
  <%= render 'manuscript_table' %>
</div>
